<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.score.module.score.mapper.ClassHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.ss.score.module.score.domain.entity.ClassHistory">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="class_id" property="classId"/>
        <result column="academic_year_id" property="academicYearId"/>
        <result column="is_current" property="isCurrent"/>
        <result column="entry_date" property="entryDate"/>
        <result column="end_date" property="endDate"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="allColumn">
        o.id,
        o.student_id,
        o.class_id,
        o.academic_year_id,
        o.is_current,
        o.entry_date,
        o.end_date,
        o.delete_flag
    </sql>
    <select id="selectListVO" resultType="com.ss.score.module.score.domain.vo.ClassHistoryVO">
        SELECT
        <include refid="allColumn"/>
        FROM `score`.class_history o
    </select>
    <select id="selectByIdVO" resultType="com.ss.score.module.score.domain.vo.ClassHistoryVO">
        SELECT
        <include refid="allColumn"/>
        FROM `score`.class_history o
        WHERE o.id = #{id}
    </select>
</mapper>