<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.score.module.score.mapper.JointExamLocalStudentTotalRankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.ss.score.module.score.domain.entity.JointExamLocalStudentTotalRank">
        <id column="id" property="id"/>
        <result column="local_student_id" property="localStudentId"/>
        <result column="joint_exam_id" property="jointExamId"/>
        <result column="total_rank" property="totalRank"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="allColumn">
        o.id,
        o.local_student_id,
        o.joint_exam_id,
        o.total_rank,
        o.delete_flag
    </sql>
    <select id="selectListVO" resultType="com.ss.score.module.score.domain.vo.JointExamLocalStudentTotalRankVO">
        SELECT
        <include refid="allColumn"/>
        FROM `score`.joint_exam_local_student_total_rank o
    </select>
    <select id="selectByIdVO" resultType="com.ss.score.module.score.domain.vo.JointExamLocalStudentTotalRankVO">
        SELECT
        <include refid="allColumn"/>
        FROM `score`.joint_exam_local_student_total_rank o
        WHERE o.id = #{id}
    </select>
</mapper>