<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.score.module.score.mapper.JointExamSchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.ss.score.module.score.domain.entity.JointExamSchool">
        <id column="id" property="id"/>
        <result column="joint_exam_id" property="jointExamId"/>
        <result column="school_id" property="schoolId"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="allColumn">
        o.id,
        o.joint_exam_id,
        o.school_id,
        o.delete_flag
    </sql>
    <select id="selectListVO" resultType="com.ss.score.module.score.domain.vo.JointExamSchoolVO">
        SELECT
        <include refid="allColumn"/>
        FROM `score`.joint_exam_school o
    </select>
    <select id="selectByIdVO" resultType="com.ss.score.module.score.domain.vo.JointExamSchoolVO">
        SELECT
        <include refid="allColumn"/>
        FROM `score`.joint_exam_school o
        WHERE o.id = #{id}
    </select>
</mapper>